.user-form
  = form_for @track do |f|

    - if @track.errors.any?
      .error-messages
        %h2 Form is invalid
        %ul
          - for message in @track.errors.full_messages
            %li= message

    .field
      = f.text_field :title, :autofocus => true, placeholder: 'Title'
    %br
    .field
      = f.file_field :track_file, placeholder: 'Upload', class: 'file-field'
    %br
    .actions
      = f.submit class: "form-button-upload"