


%h1 #{@track.title} 
%h3 by #{@track.user.username}

%audio{controls: "controls"}
  %source{src: "#{@track.track_file}"}


%h1 Comments
- @track.comments.each do |comment|
  %li
    = comment.text
    = link_to "Flag", "/tracks/#{@track.id}/comments/#{comment.id}/flag"
    %br
    = comment.user.username

= form_for @comment do |f|
  .field
    = hidden_field_tag "comment[track_id]", @track.id
    = f.text_field :text
  .actions
    = f.submit class: 'form-button'

= link_to "remove", track_path, :method => :delete
|
= link_to "Back to user profile", @track.user