

.track
  .track-text  
    %h1.track-title #{@track.title} 
    %p.track-username=link_to "#{@track.user.username}", @track.user
    /*  = if can? :destroy, User
    /*  = link_to "Remove this track", track_path, :method => :delete
  .track-player
    %audio.track-audio{controls: "controls"}
      %source{src: "#{@track.track_file}"}


- @track.comments.each do |comment|
  .comments
    %img.user-thumbnail{src: "#{comment.user.profile_image}"}
    %p.comment-user=link_to "#{comment.user.username}", comment.user
    %p.comment-text= comment.text
    = link_to "Flag", "/tracks/#{@track.id}/comments/#{comment.id}/flag", class: 'comment-flag'

= form_for @comment do |f|
  .field
    = hidden_field_tag "comment[track_id]", @track.id
    = f.text_field :text, class: 'comment-field'
  .actions
    = f.submit class: 'comment-form-button'

/*= link_to "remove", track_path, :method => :delete */
