.user-form-profile
  = form_for @user do |f|

    - if @user.errors.any?
      .error-messages
        %h2 Form is invalid
        %ul
          - for message in @user.errors.full_messages
            %li= message

    .field
      = f.text_field :name, :autofocus => true, placeholder: 'Name'
    .field
      = f.file_field :profile_image, placeholder: 'Profile Image'
    .field
      = f.text_area :bio, :autofocus => true, placeholder: 'Bio'
    .field.select-box
      %label Colour Scheme
      %select.select-box-button{name: :colour_scheme}
        %option Default
        %option{value: "background-color: #323A42; color: #ffffff"} Midnight
        %option{value: "background-color: #A3B7CC; color: #ffffff"} Steel
      %br
    .actions
      = f.submit 'Complete Profile', :class => 'form-button'
