
.profile-left.col-md-4

  %img.profile-image{src: "#{@user.profile_image}"}
  .profile-left-text
    %h1 #{@user.username}
    %p #{@user.name}
    %p Bio: #{@user.bio}


.profile-right.col-md-8
  - @user.tracks.each do |track|
    .discover-full
      .profile-track 
        %p.profile-track-title= link_to track.title, track
        %audio.discover-track-audio{controls: "controls"}
          %source{src: "#{track.track_file}"}


= link_to "Remove User", user_path, :method => :delete
|
= link_to "Profile Settings", edit_user_path
